.mainStarLeft {
  left: 57%;
}

.personLightDimension {
  width: 22%;
  left: 57.5%;
}

.titleBoxDimension {
  width: 46%;
  height: 20rem;
}

.prestasi {
  font-style: normal;
  font-weight: 900;
  line-height: 90px;
  display: flex;
  align-items: flex-end;
  color: #ff7a66;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.its {
  font-style: normal;
  font-weight: 600;
  text-align: justify;
  color: #30302e;

  flex: none;
  order: 1;
  flex-grow: 0;
}

.fakultasButton {
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  padding: 1px 3px;
  line-height: 24px;
  color: #30302e;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.personWidth {
  width: 39rem;
}

.ITSFlex {
  display: inline-flex;
  font-weight: 900;
  font-size: 38px;
  line-height: 64px;
  color: #ffffff;
}

.megaPhoneLeft {
  left: 16.5%;
}
